<div class="todo-list">
  <form>
    <table>
      <thead>
        <tr>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for todo in todos %} {% include "components/todo-item.html" %} {%
        endfor %}
      </tbody>
    </table>
    <button
      class="py-1 px-2 bg-red-500 hover:bg-red-600 text-xs text-white font-semibold rounded shadow focus:outline-none"
      hx-delete="/todos"
      hx-swap="outerHTML"
      hx-target="closest .todo-list"
      hx-confirm="Are you sure?"
    >
      Delete selected
    </button>
  </form>
</div>
